<div class="features">

    <h2>Features</h2>

    <div class="cards">

        <div class="card">
            <h3>Full accounts lifespan automation</h3>
            <span class="hr"></span>
            <p>
                Bot automatically creates new posts and feed actions.
                Your accounts will remain real and active
            </p>
        </div>

        
        <div class="card">
            <h3>Direct messages monitor</h3>
            <span class="hr"></span>
            <p>
                Bot automatically monitors for any new messages
                on all your accounts. You will newer miss a win!
            </p>
        </div>

        
        <div class="card">
            <h3>Google form raffles</h3>
            <span class="hr"></span>
            <p>
                We support custom google forms so you can
                enter not only for instagram-based raffles but
                also for instagram affilated google form raffles
            </p>
        </div>

        
        <div class="card">
            <h3>Instagram raffle entries</h3>
            <span class="hr"></span>
            <p>
                You can automatically enter for instagram raffles:
                like, follow, repost, comment, tag “friends” from
                your other accountsё
            </p>
        </div>


        <div class="card">
            <h3>Steal wins</h3>
            <span class="hr"></span>
            <p>
                Bot has bunch of scrappers. You can collect entries
                for raffles where wins are sent not by DM’s and get more
                entries than your own ones
            </p>
        </div>

        
        <div class="card">
            <h3>Inhouse monitors</h3>
            <span class="hr"></span>
            <p>
                Our discord server gives you raffle monitors
                so you’ll newer miss one
            </p>
        </div>

        
        
        <div class="card">
            <h3>Heavy machinery</h3>
            <span class="hr"></span>
            <p>
                Creating “friendship net” so your accounts
                can tag your other accounts as friends
                and it’s not obvious for a human eye
            </p>
        </div>
        
        
        <div class="card">
            <h3>AI</h3>
            <span class="hr"></span>
            <p>
                We use AI comparing images so your fake accounts
                would post only REAL different ones
            </p>
        </div>

    </div>

</div>