<div class="features">

    <h2>Q&A</h2>

    <div class="cards">

        <div class="card">
            <h3>What operation systems I can use it on?</h3>
            <span class="hr"></span>
            <p>
                Mac OS, Windows or any Linux based system
            </p>
        </div>

        
        <div class="card">
            <h3>How can I be sure it works?</h3>
            <span class="hr"></span>
            <p>
                Anyone can contact us and get a free week
                trial period
            </p>
        </div>

        
        <div class="card">
            <h3>How much does it cost?</h3>
            <span class="hr"></span>
            <p>
                100$ initial fee + 15$ per month
            </p>
        </div>


        <div class="card">
            <h3>What’s next?</h3>
            <span class="hr"></span>
            <p>
                We are planning to add same functionality
                for Twitter, Facebook and VK next
            </p>
        </div>

    </div>

</div>