
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}






$primary-color: #F4A560;
$primary-hover: #f59846;
$danger-color: #E56363;
$btn-radius: 10px;
$tab-size: 780px;
$btn-hover: #F4A560;


.primary-bg{
    background-color: $primary-color;
    &:hover:not( :disabled ){
        background-color: $primary-hover;
    }
}


html, body{
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: grid;
}


*{
    color: #fff; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

app-root{
    display: grid;
}
app-root > *{
    display: grid;
}

*{
    outline: none;
}



div, section, header, main, footer, nav, form{
    box-sizing: border-box;
}

a, button{
    cursor: pointer;
    box-sizing: border-box;
    &:disabled{
        cursor: default;
    }
}

a{
    text-decoration: none;
    color: #fff; 
}

button{
    background: none;
    color: #F5F5F5; 
    border: 1px solid #F5F5F5;
}

ul, li, p, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}


.pointer{
    cursor: pointer;
}







h2{
    font-size: 36px;
    font-weight: 600;
    @media screen and ( max-width: 850px ) {
        text-align: center;
    }
    @media screen and ( max-width: 780px ){
        font-size: 24px;
    }
}

h3{
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}

p{
    font-size: 24px;
}



section{
    display: grid;
    row-gap: 60px;
    grid-template-rows: auto 1fr;
    height: 100%;
    position: relative;
}
@media screen and ( max-width: 780px ){
    section{
        row-gap: 30px;
    }
}

span.anchor{
    position: absolute;
    top: -10%;
}

app-root > *{
    display: grid;
    // background: linear-gradient(74.98deg, #EBAC75 14.79%, #E36186 77.31%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

app-home, app-user-agreement{
    background-image: url('/assets/img/bckg/home-bckg.png');
    @media screen and ( max-width: 780px ) {
        background-image: url('/assets/img/bckg/home-phone-bckg.png');
    }
}

app-bind, app-dashboard, app-purchase{
    background-image: url('/assets/img/bckg/other-bckg.png');
    @media screen and ( max-width: 650px ) {
        background-image: url('/assets/img/bckg/other-phone-bckg.png');
    }

}

router-outlet{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;;
}



/* ngx-spinner > div {
    background: linear-gradient(99.49deg, #5F34A0 4.35%, #31227D 94.8%) !important;
    backdrop-filter: blur(2px) opacity(20%) !important;
} */

ngx-spinner > div{ 
    border-radius: inherit; 
    backdrop-filter: blur(2px); 
    background-color: rgba(230, 119, 129, 0.6) !important;
}

ngx-spinner *{ color: white !important; }



app-dashboard{
    grid-template-rows: 1fr auto;
}



app-purchase-status ngx-spinner{
    border-radius: inherit;
    > div{
        background: none !important;
        backdrop-filter: none;
        > div > div{
            border-width: 3px !important;
        }
    }

    * { color: #000 !important; }
    p{
        font-size: 18px;
        font-weight: 600;
        white-space: pre;
        @media screen and ( max-width: $tab-size ) {
            margin-top: 20px;
        }
    }

} 




::-webkit-scrollbar{
    width:8px;
    height: 8px;
}
  
::-webkit-scrollbar-thumb{
    border: none;
    background: #e5e5e5;
    transition: .3s;
}
  
::-webkit-scrollbar-thumb:hover{
    background: #c5c5c5;
}
  
::-webkit-scrollbar-track{
    border-width:0;
    background: #E36186;
}


  
.standart-inp{
    height: 44px;
    border-radius: $btn-radius;
    background-color: #E5E5E5;
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;
    color: #000;
    width: auto;
    border: none;
    box-sizing: border-box;
    min-width: 100px;
    
    &::placeholder{
        color: #808080;
    }

    @media screen and ( max-width: $tab-size ) {
        height: 40px;

    }
    
    // &.ng-touched.ng-invalid{
    //     border: 1px solid $danger-color;
    // }
}


button{
    > ngx-spinner div{

        background: none !important;
        backdrop-filter: unset !important;

        > div {
            width: 22px !important;
            height: 22px !important;

            > div{
                border-width: 3px !important;
                width: inherit !important;
                height: inherit !important;
            }
        }

    }
}


.standart-btn{
    border-radius: $btn-radius;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    transition: .3s ;
    position: relative;
    border: none;
    @extend .primary-bg;
    min-width: 100px;

    // @media screen and ( max-width: $tab-size ) {
    // }
}

.window{
    padding: 40px 90px;
    display: grid;
    row-gap: 10px;
    width: 500px;
    border-radius: 20px;

    background: #ffffff;
    position: relative;
    
    @media screen and ( max-width: $tab-size ) {
        max-width: 335px;
        padding: 20px 35px; 
        border-radius: 10px;
    }

    .error{
        min-width: 130px;
        height: 30px;
        background-color: $danger-color;
        border-radius: 10px 10px 0px 0px;
        display: grid;
        place-items: center;
        font-size: 14px;
        font-weight: 600px;
        color: #FFF;
        padding: 0px 20px;
        white-space: pre;

        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0%) scale(1,0);
        transform-origin: bottom;
        transition: .3s;

        &.show{
            transform: translate(-50%, 0%) scale(1,1);
            transition: 0;
       }
    }

}

